.main-body{
    background-color: rgb(177, 171, 171);
    height: 100%;
}
// .container{
//     margin: auto;
//     width: 50%;
//     height: 70%;
//     background-color: white;
// }
.card{
    width: 70%;
    margin: auto;
}