<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>User Login</h2>
    <div class="form-group p-2">
      <label for="email">Email : </label>
      <input type="text" class="m-3" placeholder="abc@gmail.com" formControlName="email">
    </div>
    <div class="form-group p-2">
      <label for="pass">Pass : </label>
      <input type="password" class="m-3" placeholder="password" formControlName="pass">
    </div>
    <span class="text-danger">{{msg}}</span><br>
    <div class="form-group">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success m-3">Login</button>
      <button class="btn btn-primary m-3" (click)="register()">Register</button>
      <button type="reset" class="btn btn-secondary m-3">Reset</button>
      <!-- </div>
      <div class="form-group align-center"> -->
      <!-- <a routerLink="/register">Register</a> -->
    </div>
  </form>
</div>