// .align-center {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     height: 98%;
//     margin-top: 10%;
//   }


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;

  // vertical-align: middle;
  // text-align: center;

  width: 30%;
  height: 50%;
  background-color: rgb(238, 234, 234);
  margin-top: 20px;
}
  
  form {
    display: flex;
    flex-direction: column;
  }
  
