.main-binding, .main-directive{
    margin-left: 5px;
    width: 15%;
    height: 100vh;
}
.add-bg{
    background-color: yellow;
}
.vertical{
    border-left: 2px solid black;
    height: 500px;
    position:absolute;
    left: 14%;
}
